html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  padding: 2rem;
  background-color: green;
  
}

.card {
  width: 5rem;
  height: 7rem;
  border-radius: 5px;
  padding: 0.3rem;
  box-sizing: border-box;
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.card.spade {
  background: url('./components/spade.png') white;
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.card.heart {
  background: url('./components/heart.webp') white;
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}
.card.diamond {
  background: url('./components/diamond.png') white;
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}
.card.club {
  background: url('./components/club.png') white;
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
}

.foundation-stacks {
  display: flex;
  gap: 3rem;
}

.table-stacks {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 43rem;
  padding-block: 3rem;
}

.table-stack,
.foundation-stack {
  border: 3px solid black;
  border-radius: 7px;
  position: relative;
  width: 5rem;
  height: 7rem;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stock-btn {
  margin: 2rem;
  padding: 1rem;
}

